<html>
    <head>
        <style>
            body {background:#ccc;margin:1.25rem};
            h1 {color:blue ,font-family:sans-serif}; 
            a {color:blue,font-size:3rem;font-family:sans-serif}
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
